#map {
    width: 815px;
    height: 745px;
}

.artist {
    width: 200px;
    padding-bottom: 10px
}

.artist-photo {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.artist-name {
    vertical-align: middle;
    text-align: center;
    /*padding-left: 10px;*/
    display: inline-block;
}

.image-wrapper {
    max-height: 200px
}

.artist-text {
    overflow-y: auto;
    max-height: 180px;
}

.studio-photoes {
    max-height: 390px;
    overflow-y: auto;
}

.studio-photo {
    margin: auto;
    padding: 10px 0 10px 0;
    display: block;
    max-width: 550px;
    max-height: 380px;
}

.modal-dialog {
    margin: 10px auto;
}

.studios-list-control {
    width: 220px;
    height: 600px;
    background-color: floralwhite;
    opacity: 0.9;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-marker-icon .number{
    position: relative;
    top: -37px;
    font-size: 12px;
    width: 25px;
    text-align: center;
}
.leaflet-marker-icon .number.start-line-number {
    top: -53px;
    left: 5px;
    font-size: 20px;
    width: 25px;
    text-align: center;
}

.start-line-icon img {
    /*filter: sepia(60%);*/
}
.start-line-icon {
    width: 50px;
}

.line-list {
    font-size: small;
}

.line-list dt {
    content: '';
    display: inline-block;
    height: 35px;
    width: 22px;
    background-image: url(images/YELLOW.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1px;
    text-align: center;
    padding-top: 2px;
}

.line-list-number {
    padding-left: 20px
}

.line-studios-list {
    padding-left: 30px;
}
.line-studios-list li:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 13px;
    background-image: url(./images/marker_hole.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1px;
    text-align: center;
    top: 4px;
    padding-bottom: 0px;
    position: relative;
}

.leaflet-popup-content {
    margin: 13px;
}

